{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "corejs": 3,
      "useBuiltIns": "usage",
      "loose": true,
      "targets": { "browsers": [">0.25% in US"] }
    }],
    "@babel/preset-typescript"
  ]
}
